.button {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: #4d1601;
  color: #fff;
  padding: 0.75rem 3rem;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: center;
  align-items: center;
  border-radius: 25px;
  font-weight: 700;
  .badge {
    background-color: #b94517;
    padding: 0.25rem 1rem;
    border-radius: 25px;
    margin-left: 1rem;
    font-weight: 700;
  }
  .icon{
    width: 1.35rem;
    height: 1.35rem;
    margin-right: 0.5rem;
  }
}
